<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net46" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net46" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net46" />
  <package id="Selenium.WebDriver.ChromeDriver" version="86.0.4240.2200" targetFramework="net46" />
  <package id="Selenium.WebDriver.MicrosoftDriver" version="17.17134.0" targetFramework="net46" />
</packages>